
.nav {
    grid-area: n;   
    background-color: lightblue;
    border: solid white;
    padding: 25px;
}

.item {
    color: red;
}

.active {
    color: blue;
}

.item a.active {
    color: gold;
}